<ul>
{% for product in products %}
	<li class="col-md-4">
		<a href="/produkt/{{ product.getId() }}/{{ product.getSlug() }}">{{ product.getTitle() }}</a>
		{% if product.getPicture() %}<img src="{{ product.getPicture().getUrl() }}" />{% endif %}
		{{ product.getDescription() }}
		<span>{{ product.getPrice() }}</span>
	</li>
{% endfor %}
</ul>