<h1>{{ product.getTitle() }}</h1>
{{ product.getDescription() }}
{{ product.getPrice() }}

{% for instance in product.getInstances() %}
	<div class="row">
		<div class="col-md-4">
			<p>In stock: {{ instance.getStock() }}</p>
			<p>In cart: {{ instance.getCart() }}</p>
		</div>
		<div class="col-md-4">
			{% for stock in instance.getStocks() %}
				<p>
				{% for key, val in stock %}
					{% if key == "size" %}
						Size {{ val }}
					{% elseif key == "color" %}
						Color {{ val }}
					{% endif %}
				{% endfor %}
					{{ stock.quantity }}x
				</p>
			{% endfor %}
		</div>
		<div class="col-md-4">
			<span class="btnAddToCart" data-product-instance-id="{{ instance.getId() }}">Add to cart</span>
		</div>
	</div>
{% endfor %}

<script>
var restAPI = {};

restAPI.makeRequest = function(url, data, callback){
	data.__v = 101;
	$.post('/dev.php/api/' + url, data, function(response){ callback(response); }, "json")
	.fail(function(response){
		alert("API request failed");
	});
};

restAPI.cart.add = function(data, callback){
	restAPI.request('cart/add', data, callback);
};

restAPI.cart.change = function(data, callback){
	restAPI.request('cart/add', data, callback);
};

$(document).ready(function(){
	function api(url, data, callback) {
		data.__v = 101;
		$.post('/dev.php/api/' + url, data, function(response){ callback(response); }, "json")
			.fail(function(response){
				alert("API request failed");
			});
	}

	$(".btnAddToCart").click(function(){

		restAPI.cart.add({
			product_instance_id: $(this).data("product-instance-id"),
			quantity: 1,
		}, function(data){

		});
	});
});
</script>