
#textArea2 {
	height: 400px !important;
	
}

/* images */
/* last col in row */
.sortimage > .col-sm-3:nth-child(4) {
	clear: right;
}
/* first col in row */
.sortimage > .col-sm-3:nth-child(4n+1) {
	clear: left;
}
/* every col but first row */
.sortimage > .col-sm-3:nth-child(n+4) {
	margin-top: 20px;
}


.panel.lfwPlugin > .lead {
  margin-bottom: 0;
  cursor: pointer;
}
.panel.lfwPlugin > .lead.lfwPluginActive {
  margin-bottom: 20px;
}
.panel.lfwPlugin > .panel-body {
  display: none;
}
.panel.lfwPlugin > .panel-body.lfwPluginActive {
  display: block;
}

.navbar-collapse {
	max-height: none;
}
$