{% extends "Weblab/Main/views/main.twig" %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="page-header">
      <h1>{{ _lang.get('h1_register') }}</h1>
    </div>
    <form role="form" method="post" action="{{ _router.make('takeregister') }}" class="form-horizontal">
      <div class="form-group">
        <label for="login_email" class="col-sm-3 control-label">{{ _lang.get('label_email') }}</label>
        <div class="col-sm-9">
          <input name="email" type="email" class="form-control" id="register_email" placeholder="{{ _lang.get('placeholder_email') }}" />
        </div>
      </div>
      <div class="form-group">
        <label for="login_password" class="col-sm-3 control-label">{{ _lang.get('label_password') }}</label>
        <div class="col-sm-9">
          <input name="password" type="password" class="form-control" id="register_password" placeholder="{{ _lang.get('placeholder_password') }}" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <input type="submit" class="btn btn-default" value="{{ _lang.get('btn_register') }}" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}