{% extends "Weblab/Main/views/main.twig" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>{% if success %}{{ _lang.get('success_new_password') }}{% else %}{{ _lang.get('something_went_wrong') }}{% endif %}</h1>
    </div>
    {% if success %}
      <p>{{ _lang.get('check_email') }}</p>
    {% else %}
      <p>{{ _lang.get('try_again_check_email') }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}