{% extends "Weblab/Main/views/main.twig" %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>{% if success %}{{ _lang.get('success_register') }}{% else %}Something went wrong!{% endif %}</h1>
    </div>
    {% if success %}
      <p>{{ _lang.get('check_email_takeregister') }}</p>
    {% else %}
      <p>{{ _lang.get('try_again') }}</p>
    {% endif %}
  </div>
</div>
{% endblock %}