{% import "macros.twig" as genericMacro %}<!DOCTYPE html>
<html>
  <head>
    {{ _seo | raw }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{ _optimize | raw }}
  </head>
  <body>
    <div class="container">
      <p>Generic layout</p>
      {{ _debug | raw }}
      {{ include(template_from_string(genericMacro.tree(structure.body.container, _context))) }}
    </div><!-- /container -->
    <style type="text/css">* { text-align: center; } </style>
  </body>
</html>