{% macro tree(elements, context) %}
{% import _self as t %}
{% for bl, conf in elements  %}
{% if bl != '_wrap' and bl != '_class' and bl != '_id' and bl != '_col' %}
{% if conf._wrap is not defined or conf._wrap == true %}{# wrapper #}
{% if conf._col is not defined or conf._wrap == true %}
<div class="row">
{% endif %}
<div id="{% if conf._id %}{{ conf._id }}{% else %}block-row-{{ bl }}{% endif %}" class="{% if conf._class %}{{ conf._class }}{% else %}block-col-{{ bl }}{% endif %}">
{% endif %}
{% if conf is iterable %}{{ t.tree(conf, context) }}{% endif %}
{% if block(bl) %}{{ block(bl) }}{% endif %}{# block #}
{{ '{% block ' ~ bl ~ ' %}{{ ' ~ bl ~ ' | raw }}{% endblock %}' }}
{% if conf._wrap is not defined or conf._wrap == true %}{# /wrapper #}
</div><!-- /#{% if conf._id %}{{ conf._id }}{% else %}block-row-{{ bl }}{% endif %}.{% if conf._class %}{{ conf._class }}{% else %}block-col-{{ bl }}{% endif %} -->
{% if conf._col is not defined or conf._wrap == true %}
</div><!-- /.row -->
{% endif %}
{% endif %}

{% endif %}
{% endfor %}
{% endmacro %}

{% block dynamicSkeleton %}{{ t.tree(structure.body.container) }}{% endblock %}