<fieldset>
  <div class="form-group">
    <label class="col-lg-2 control-label">Ime</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="title" placeholder="Kratek opis" name="route[title]" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">URL</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="url" placeholder="URL" name="route[url]" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Krajši zapis</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="short" placeholder="" name="route[short]" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Validate</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="validate" placeholder="JSON zapis" name="route[validate]" value="{{ route.validate }}" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Layout</label>
    <div class="col-lg-10">
      {{ layouts | raw }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">View</label>
    <div class="col-lg-10">
      {{ views | raw }}
    </div>
  </div>
</fieldset>