<fieldset>
  <div class="form-group">
    <label class="col-lg-2 control-label">Memory route</label>
    <div class="col-lg-10">
      <select name="route">
      {% for route in routes %}
        <option value="{{ route.json }}">{{ route.url }} - {{ route.name }}</option>
      {% endfor %}
      </select>
    </div>
  </div>
</fieldset>