{% import "Weblab/Maestro/views/twig_macro_forms.twig" as forms %}

<fieldset>
  {{ forms.hidden({
      "name": "route[id]",
      "id": "id",
      "value": route.id
    })
  }}
  {{ forms.input(
    "text",
    {
      "name": "route[title]",
      "id": "title",
      "placeholder": _lang.get("placeholder_title"),
      "value": route.title
    },
    { "title": _lang.get("label_title") })
  }}
  {{ forms.input(
    "text",
    {
      "name": "route[url]",
      "id": "url",
      "placeholder": _lang.get("placeholder_url"),
      "value": route.url
    },
    { "title": _lang.get("label_url") })
  }}
  {{ forms.input(
    "text",
    {
      "name": "route[short]",
      "id": "short",
      "placeholder": _lang.get("placeholder_short"),
      "value": route.short
    },
    { "title": _lang.get("label_short") })
  }}
  {{ forms.input(
    "text",
    {
      "name": "route[settings]",
      "id": "settings",
      "placeholder": _lang.get("placeholder_settings"),
      "value": route.settings
    },
    { "title": _lang.get("label_settings") })
  }}
  {{ forms.input(
    "text",
    {
      "name": "route[validate]",
      "id": "validate",
      "placeholder": _lang.get("placeholder_validate"),
      "value": route.validate
    },
    { "title": _lang.get("label_validate") })
  }}
  <div class="form-group">
    <label class="col-lg-2 control-label">Layout</label>
    <div class="col-lg-10">
      {{ layouts | raw }}
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">View</label>
    <div class="col-lg-10">
      {{ views | raw }}
    </div>
  </div>
</fieldset>