{% extends ext ? ext : 'Weblab/Admin/views/admin.twig' %}

{% use 'Weblab/Maestro/views/breadcrumbs.twig' %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-heading lead">{{ _lang.get('add') | capitalize }} {{ conf.title | lower }}</div>
	<div class="panel-body">
	  {{ conf.content | raw }}
	</div>
</div>
{% endblock %}