{% extends ext ? ext : 'Weblab/Admin/views/admin.twig' %}

{% use 'Weblab/Maestro/views/breadcrumbs.twig' %}

{% import "Weblab/Maestro/views/twig_macro_forms.twig" as forms %}

{% block content %}{% endblock %}