<ul class="nav nav-tabs i18n-tabs">
{% for page in conf.data %}
	  <li{% if loop.first %} class="active"{% endif %}><a href="#i18n{{ page._tablang.title }}" data-toggle="tab">{{ page._tablang.title }}</a></li>
{% endfor %}
</ul>

<!-- Tab panes -->
<div class="tab-content" style="padding-top: 20px;">
{{ conf.content | raw }}
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.i18n-tabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
});
</script>