{% extends ext ? ext : 'Weblab/Admin/views/admin.twig' %}

{% use 'Weblab/Maestro/views/breadcrumbs.twig' %}

{% import "Weblab/Maestro/views/twig_macro_forms.twig" as forms %}

{% block content %}
<div class="row">
	<div class="col-sm-6">

	</div>
	<div class="col-sm-6">
		<div class="col-sm-4">
			<a class="thumbnail" style="text-align: center;" href="/maestro/users" title="Users">
				<i class="fa fa-users fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-4">
			<a class="thumbnail" style="text-align: center;" href="/maestro/modules" title="Modules">
				<i class="fa fa-gear fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-4">
			<a class="thumbnail" style="text-align: center;" href="/maestro/menus" title="Menus">
				<i class="fa fa-sitemap fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-4">
			<a class="thumbnail" style="text-align: center;" href="/maestro/pages" title="Pages">
				<i class="fa fa-copy fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-4">
			<a class="thumbnail" style="text-align: center;" href="/maestro/blocks" title="Blocks">
				<i class="fa fa-file fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-4">
			<a class="thumbnail" style="text-align: center;" href="/maestro/logs" title="Logs">
				<i class="fa fa-warning fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading lead">SEO nastavitve</div>
			<div class="panel-body">
				<form enctype="multipart/form-data" class="bs-example form-horizontal" method="post" action="#">
					{{ forms.input(
					    "text",
					    {
					      "name": "seo[title]",
					      "id": "seo_title",
					      "placeholder": "Naslov strani",
					    },
					    { "title": "Title" })
					}}
					{{ forms.input(
					    "text",
					    {
					      "name": "seo[keywords]",
					      "id": "seo_keywords",
					      "placeholder": "Ključne besede",
					    },
					    { "title": "Keywords" })
					}}
					{{ forms.input(
					    "text",
					    {
					      "name": "seo[description]",
					      "id": "seo_description",
					      "placeholder": "Kratek opis",
					    },
					    { "title": "Description" })
					}}
					{{ forms.input(
					    "file",
					    {
					      "name": "seo[image]",
					      "id": "seo_file",
					      "placeholder": "Slika",
					    },
					    { "title": "Slika" })
					}}
			    </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}