{% macro input(type, input, label) %}
{% set input = { 'class': 'form-control', 'value': '', 'placeholder': '' }|merge(input) %}
{% set label = { 'title': '' }|merge(label) %}
  <div class="form-group">
    <label class="col-lg-2 control-label">{{ label.title | raw }}</label>
    <div class="col-lg-10">
      <input type="{{ type }}" {% for attr, val in input %}{{ attr }}="{{ val }}{% if input["_" ~ attr] %} {{ input["_" ~ attr] }}{% endif %}" {% endfor %}/>
    </div>
  </div>
{% endmacro %}

{% macro textarea(input, label) %}
{% set input = { 'class': 'form-control', 'placeholder': '' }|merge(input) %}
{% set label = { 'title': '' }|merge(label) %}
  <div class="form-group">
    <label class="col-lg-2 control-label">{{ label.title | raw }}</label>
    <div class="col-lg-10">
      <textarea {% for attr, val in input %}{{ attr }}="{{ val }}{% if input["_" ~ attr] %} {{ input["_" ~ attr] }}{% endif %}" {% endfor %}>{{ input.value }}</textarea>
    </div>
  </div>
{% endmacro %}

{% macro input_hidden(input) %}
{% set input = { 'value': '' }|merge(input) %}
<input type="hidden" {% for attr, val in input %}{{ attr }}="{{ val }}{% if input["_" ~ attr] %} {{ input["_" ~ attr] }}{% endif %}" {% endfor %}/>
{% endmacro %}

{% macro hidden(input) %}
{% set input = { 'value': '' }|merge(input) %}
<input type="hidden" {% for attr, val in input %}{{ attr }}="{{ val }}{% if input["_" ~ attr] %} {{ input["_" ~ attr] }}{% endif %}" {% endfor %}/>
{% endmacro %}

{% macro static(content, label) %}
{% set label = { 'title': '' }|merge(label) %}
  <div class="form-group">
    <label class="col-lg-2 control-label">{{ label.title | raw }}</label>
    <div class="col-lg-10">
      <p class="form-control-static">{{ content }}</p>
    </div>
  </div>
{% endmacro %}

{% macro simple(content, label) %}
{% set label = { 'title': '' }|merge(label) %}
  <div class="form-group">
    <label class="col-lg-2 control-label">{{ label.title | raw }}</label>
    <div class="col-lg-10">
      {{ content | raw }}
    </div>
  </div>
{% endmacro %}