<!DOCTYPE html>
<html>
  <head>
    {{ _seo | raw }}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {{ _optimize | raw }}
  </head>
  <body>
   <div class="container">
        
        {{ _debug | raw }}
        {% if content %}<!-- deprecated - use twig extends() -->{% endif %}{{ content | raw }}
        {{ block('content') }}

    </div><!-- /.container -->
  </body>
</html>