<!DOCTYPE html>
	<html>
		<head>
			<title>Bojan Rajh, razvijalec spletnih aplikacij</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<link href='http://fonts.googleapis.com/css?family=Dosis&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		</head>
	<body>
		<style>
			body { margin: 0; padding: 0; color: #fff; background: url(/app/schtr4jh/src/Schtr4jh/Layout/public/img/bg.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-family: 'Dosis', sans-serif; }
			a { text-decoration: none; color: inherit; }
			.kovac { width: 80%; display: block; margin: 0 auto; font-size: 36px; color: #fff; text-align: center; line-height: 72px; margin-top: 33%; }
			.kovac .black { background: rgba(0,0,0,0.85); color: rgba(255,255,255,1); border-radius: 8px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; padding: 0 20px; }
			.kovac .white { background: rgba(255,255,255,0.85); color: rgba(0,0,0,1); border-radius: 8px; border-top-left-radius: 0; border-top-right-radius: 0; padding: 0 20px; }
			#ref { display: block; width: 80%; left: 10%; margin: 0 auto; padding: 0; position: absolute; bottom: 20px; }
			#ref li { list-style: none; float: left; margin: 0 20px; }
			#ref li a { font-size: 12px; text-shadow: 2px 2px 3px rgba(50, 50, 50, 1); }
			#ref li.copy { float: right; }
			#content { display: block; width: 80%; max-width: 960px; margin: 0 auto; }
		</style>
		<div id="content">
			<div class="kovac">
				<div class="black">Bojan Rajh, spletni razvijalec</div>
				<div class="white"><a href="mailto:bojan.rajh@t-2.net">bojan.rajh@t-2.net</a></div>
			</div>
		</div>
		<ul id="ref">
			<li><a href="http://overdose.si" target="_blank">Overdose.si</a></li>
			<li><a href="http://seniorplus.si" target="_blank">SeniorPlus.si</a></li>
			<li><a href="http://vipangelskazabava.si" target="_blank">VipAngelskaZabava.si</a></li>
			<li><a href="http://gremonaparty.com" target="_blank">GremoNaParty.com</a></li>
			<li><a href="http://linkedin.com/in/bojanrajh">. . .</a></li>
			<li class="copy"><a href="mailto:bojan.rajh@t-2.net" target="_blank">Bojan Rajh &copy; 2014</a></li>
		</ul>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-17995603-3']);
		  _gaq.push(['_setDomainName', 'schtr4jh.net']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
	</body>
</html>