.dataTables_length, .dataTables_filter, .dataTables_info {
	display: none;
}

table.datatable {
	padding-top: 0;
}

.dataTables_paginate.pagination {
	float: left;
	left: 50%;
	position: relative;
	margin: 0;
	padding: 0;
}

.dataTables_paginate > ul.pagination {
	position: relative;
	right: 50%;
	float: left;
	margin: 0;
	padding: 0;
}