<div class="row">
	<div class="col-sm-12">
		<div class="col-sm-3">
			<a class="thumbnail" style="text-align: center;" href="/maestro/shop/products" title="Products">
				<i class="fa fa-list fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-3">
			<a class="thumbnail" style="text-align: center;" href="/maestro/shop/orders" title="Orders">
				<i class="fa fa-gear fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-3">
			<a class="thumbnail" style="text-align: center;" href="/maestro/shop/carts" title="Carts">
				<i class="fa fa-shopping-cart fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-3">
			<a class="thumbnail" style="text-align: center;" href="/maestro/shop/delivery_methods" title="Delivery methods">
				<i class="fa fa-truck fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-3">
			<a class="thumbnail" style="text-align: center;" href="/maestro/shop/payment_methods" title="Payment methods">
				<i class="fa fa-eur fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
		<div class="col-sm-3">
			<a class="thumbnail" style="text-align: center;" href="/maestro/shop/logs" title="Logs">
				<i class="fa fa-warning fa-fw" style="font-size: 100px; line-height: 150px; text-align: center;"></i>
		    </a>
		</div>
	</div>
</div>